.add_form {
    padding: 2%;
    margin: 2%;
}
.muscle_groups {
    display: flex;
    justify-content: center;
}

.muscles {
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: flex-start;
}
