.workout_buttons {
    display: flex;
    justify-content: space-around;
}

.workout_buttons button {
    background-color: #fefcfb;
    color: #034078;
    padding: 1rem;
    border-radius: 5px;
    margin: 2%;
    border: none;
    width: 20%;
}