.workout_lift {
  background-color: #1282a2;
  border-radius: 10px;
  padding: 2rem;
  margin: 2%;
}

.workout_lift button {
  background-color: #fefcfb;
  color: #034078;
  border-radius: 5px;
  margin: 2%;
  border: none;
}

.workout_lift button:hover {
  cursor: pointer;
}
