.workout_lift_buttons {
  display: flex;
  justify-content: space-around;
}

.workout_lift_buttons button {
  background-color: #fefcfb;
  color: #034078;
  padding: 1rem;
  border-radius: 5px;
  margin: 2%;
  border: none;
}

.workout_lift {
  text-transform: capitalize;
}